    <script src="/javascripts/main.js"></script>

<!-- HEY NO CHEATING! -->
<!--
     .-""""""-.
   .'          '.
  /   O    -=-   \
 :                :
 |                | 
 : ',          ,' :
  \  '-......-'  /
   '.          .'
     '-......-'    
 -->
<!-- But if you do figure it out this way please tell me! id love to know! (smiley face emoji) -->
<h1>Oran's Business card Puzzle checker!</h1>
{{!-- <p>{{title}}</p> --}}
<p>Instructions:<br>
    Find the 3 interger numbers hidden within the business card and enter them in here
    Note: No spaces letters or hex values are accepted. only numbers 888888, 11, or 1234567 are acceptable
</p>

<input type="number" name="flag1" id="flag1-input-text" placeholder="Numbers only [0-9]+">
<br>
<input type="number" name="flag2" id="flag2-input-text" placeholder="Numbers only [0-9]+">
<br>
<input type="number" name="flag3" id="flag3-input-text" placeholder="Numbers only [0-9]+">
<br>
<button onclick="checkFlags()">Check Flags!</button>
<h1 id="win_text"></h1>
